p{
	color: indigo;
	font-family: Constantia, "Lucida Bright", "DejaVu Serif", Georgia, "serif";
	font-size: 16px; 
	line-height: 18px;
	width: 600px;
	background-color: antiquewhite; 
	padding: 20px;
}
.paragraf_2{color: darkcyan; background-color: rgba(255,255,255,0.5);}
.novi_blok{
	background-color: rgba(255,255,255,0.5);
	padding:20px;
	margin: 20px
	width: 50%;
}

h1,h2{
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
	color: cadetblue;
}

span {color: violet;}
.pozadina{
	background-image: url("slike/pozadina.jpg");
	background-color: barkgray
}
.drugapozadina{
	background-color:azure;
}

a:link{
	color: black;
	background-color: beige;
	padding: 5px;
	line-height: 40px;
	border: 1px solid #000000;
}
a:hover{
	background- color: darkgray;
}
img{
	height: 400px
}